
.check-icon {
    width: 24px;
    height: 24px;
    color: #00bf8c;
}

.icon-bg-round-passed {
    background-color: hsl(164, 100%, 90%);
    border-radius: 50%;
}

.x-icon {
    width: 24px;
    height: 24px;
    color: #c00043;
}

.icon-bg-round-missed {
    background-color: #ffccde;
    border-radius: 50%;
}

.icon-create {
    width: 48px;
    height: 48px;
    color: rgba(255, 255, 255, 1);
    background: rgb(0, 141, 236);
    border-radius: 50%;
    border: none;
    transition: all 0.5s ease;
}

.icon-create:hover {
    border: none;
    cursor: pointer;
    transform: scale(1.25);
    transition: all 0.5s ease;
}

.template-item {
    border-left: 10px solid rgba(0, 255, 0, 0.1) !important;
    transition: all 0.5s ease;
}

.template-item:hover {
    background-color: rgba(0, 255, 0, 0.1);
    transition: all 0.5s ease;
}

.template-item-check {
    color: rgb(145, 171, 145);
    background: rgb(220, 255, 220);
    margin-left: 5px;
    border-left: 10px solid green !important;
    transition: all 0.5s ease;
}

.checklist-completed {
    opacity: 1;
    background-color: rgba(240, 240, 240, 1);
}

.link-color-completed {
    color: rgb(114, 114, 114, 1);
}

.link-color {
    color: #1f1f2d;
}

.link-color:hover {
    color: #368d77;
}

.checklist {
    transition: transform 0.5s ease;
}

.checklist:hover {
transform: scale(1.05);
transition: transform 0.5s ease;
}