:root {
  --primary-color: rgba(0, 191, 140, 1);
  --primary-color-hover: rgb(73, 220, 181);
  --primary-color-half: rgba(0, 191, 140, 0.5);
  --primary-color-qtr: rgba(0, 191, 140, 0.25);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
}
div {
  font-size: 1rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* PAGINATION */

.page-item {
  text-decoration: none;
  font-weight: 700;
}

.pagination-icon {
  padding: 3px 0;
  width: 32px;
  height: 100%;
  color: var(--primary-color);
  background: white;
  transition: all 0.25s ease;
}

.pagination-icon:hover {
  padding: 3px 0;
  width: 32px;
  height: 100%;
  color: white;
  background: var(--primary-color-hover);
  transition: all 0.25s ease;
}

.search-icon {
  max-width: 24px;
  max-height: 24px;
  color: var(--primary-color);
  background: white;
}

.search-btn {
  position: relative;
  left: -45px;
}

.bg-card {
  background: white;
  border-radius: 8px;
}

.bg-card-rooms {
  background: white;
  border-radius: 0 8px 8px 8px;
}

.dropdown-menu,
.dropdown-toggle,
#navbarDropdown,
.navlink,
.navbar-toggler,
.dropdown-menu:hover,
.dropdown-toggle:hover,
#navbarDropdown:hover,
.navlink:hover,
.navbar-toggler:hover,
.show {
  transition: all 1s ease !important;
}

.table-base {
  padding: 0;
  border-radius: 10px !important;
}

.signup-btn,
.login-btn,
.save-btn {
  width: 200px;
  height: 48px;
  color: rgba(255, 255, 255, 1);
  background: var(--primary-color);
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 8px;
  border: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.5s ease;
}

.signup-btn:hover,
.login-btn:hover,
.save-btn:hover {
  background-color: var(--primary-color-hover);
  border: none;
  cursor: pointer;
  transform: translateY(-2px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);
  transition: all 0.5s ease;
}

.download-btn {
  width: 100px;
  height: 38px;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  background: var(--primary-color);
  font-size: 1rem;
  font-weight: 700;
  border-radius: 8px;
  border: none;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.25s ease;
}

.download-btn:hover {
  background-color: var(--primary-color-hover);
  border: none;
  cursor: pointer;
  transform: translateY(-2px);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
  transition: all 0.25s ease;
}

.custom-checked {
  background: rgba(255, 255, 255, 1);
  transition: all 0.25s ease;
}

.custom-checked:checked {
  background: var(--primary-color);
  transition: all 0.25s ease;
}

.custom-checked:focus {
  background: var(--primary-color);
}

.building-title {
  width: 25%;
  background: white;
  font-size: 1.25rem;
  padding: 4px;
  border-radius: 8px 8px 0 0;
}

.table-row-text {
  font-size: 1rem;
}

.label-input {
  color: var(--primary-color);
}

.fade {
  transition: all 0.3s ease !important;
}
