.signup-img {
  width: 400px;
  object-fit: cover;
}

.adduser-img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  color: var(--primary-color);
  background: white;
  border: 4px solid var(--primary-color);
  border-radius: 50%;
  padding: 20px;
}
